/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////// author : arl dev /////////////////////////////////////////// */
/* ///////////////////////////// created : 06/2022  ////////////////////////////////////////  */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */

/* main setup */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap%27");
body,
html {
	font-family: var(--main-font);
	max-width: 100%;
	overflow-x: hidden;
}
*,
::after,
::before {
	box-sizing: border-box;
}
:root {
	--light-color: #f3f6f8;
	--dark-main-color: #220e5d;
	--black-color: #0c0c0c;
	--main-color: #5426de;
	--sec-color: #b0de26;
	--footer-bg: #220e5d;
	--mute-color: #6c757d;
	--main-font: "Poppins", sans-serif;
	--sec-font: "JetBrains Mono", monospace;
}
.main-color {
	color: #5426de;
}
.sec-color {
	color: #b0de26;
}
.light-color {
	color: #f8f3f8;
}
.dnone {
	display: none;
}
.dnoneimp {
	display: none !important;
}
.opac0 {
	opacity: 0 !important;
}
.round-btn {
	border-radius: 50px !important;
}
.border-test {
	border: 2px solid yellow;
}
.radius-sm {
	border-radius: 5px;
}
.sec-font {
	font-family: "JetBrains Mono", monospace;
}
.font-lg {
	font-size: 3.5rem;
	font-weight: 600;
}
.font-md {
	font-size: 1.75rem;
	font-weight: 100;
}
.font-sm {
	font-size: 1rem;
	font-weight: 500;
}
.font-xsm {
	font-size: 0.8rem;
	font-weight: 300;
}
.font-1rem {
	font-size: 1rem !important;
}
.font1halfrem {
	font-size: 1.5rem;
	font-weight: bold !important;
}
.font-w500 {
	font-weight: 500;
}
.font-bold {
	font-weight: bold !important;
}
.font-normal {
	font-weight: normal !important;
}
.font-thin {
	font-weight: 100 !important;
}
.font-bolder {
	font-weight: 1000 !important;
}
.size60 {
	width: 60px;
	height: 60px;
}
.size50 {
	width: 50px;
	height: 50px;
}
.size30 {
	width: 30px;
	height: 30px;
}
.size20 {
	width: 20px;
	height: 20px;
}
.sizer2015 {
	width: 20rem;
	max-height: 12rem !important;
}
.sizer1010 {
	width: 20rem;
	max-height: 10rem !important;
	margin: 1rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 15px;
}
.sizer1010:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #4b18e6 0 -3px 0 inset;
	transform: translateY(-2px);
	cursor: pointer;
}
.sec-btn-bg {
	background-color: var(--sec-color) !important;
}
.feature-card {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 5px;
}
.btn-size-1 {
	min-width: 12rem !important;
}
.btn-size-2 {
	min-width: 20rem !important;
}
.filter-main-color {
	filter: invert(27%) sepia(99%) saturate(7191%) hue-rotate(257deg)
		brightness(87%) contrast(99%);
}
.zlevel2 {
	z-index: 2;
	transform-style: preserve-3d;
}
.wrapper-features {
	background-color: var(--dark-main-color);
	height: 100px;
	width: 100%;
	transform: rotate(-4deg) scale(1.1, 2.4) !important;
	z-index: 1;
}
.wrapper-features1 {
	background-color: var(--dark-main-color);
	height: 100px;
	width: 100%;
	transform: rotate(-4deg) scale(1.1, 2.4) !important;
	z-index: 0 !important;
}

.main-btn-ui {
	align-items: center;
	appearance: none;
	background-image: radial-gradient(
		100% 100% at 100% 0,
		#5adaff 0,
		#5426de 100%
	);
	background-image: radial-gradient(
		100% 100% at 100% 0,
		#94abef 0,
		#5426de 100%
	);
	border: 0;
	border-radius: 12px;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
	/* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-family: "JetBrains Mono", monospace;
	height: 4rem;
	width: 14rem;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	/* text-align: left; */
	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: 1.2rem;
}
.main-btn-ui:focus {
	box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #4b18e6 0 -3px 0 inset;
}
.main-btn-ui:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #4b18e6 0 -3px 0 inset;
	transform: translateY(-2px);
}

#icon-title {
	filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(14deg) brightness(92%)
		contrast(104%);
}
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* navbar top */
.navbar {
	/* background-color: rgba(0, 0, 0, 0.3)!important; */
	background-color: rgba(0, 0, 0, 0.9) !important;
	height: 80px;
	z-index: 1;
}
.navlink {
	font-family: "JetBrains Mono", monospace;
	font-weight: normal;
	color: var(--light-color) !important;
	/* font-size:1.2rem; */
	padding-left: 2rem !important;
}
.nav-link:hover {
	color: var(--sec-color) !important;
}
.navbar-brand img {
	height: 48px !important;
}
#features_hover {
	width: 30rem;
	height: auto;
	z-index: 10;
	position: absolute;
	background-color: var(--light-color);
}
#guides_hover {
	width: 30rem;
	height: auto;
	z-index: 10;
	position: absolute;
	background-color: var(--light-color);
}
#explore_hover {
	width: 30rem;
	height: auto;
	z-index: 10;
	position: absolute;
	background-color: var(--light-color);
}
#about_hover {
	width: 30rem;
	height: auto;
	z-index: 10;
	position: absolute;
	background-color: var(--light-color);
}
.boxshad {
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
		rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.hover-links-style:hover {
	cursor: pointer;
	color: var(--main-color) !important;
	font-weight: 800 !important;
}
/* learn more button */
#learnmore_btn {
	align-items: center;
	appearance: none;
	background-image: radial-gradient(
		100% 100% at 100% 0,
		#5adaff 0,
		#5426de 100%
	);
	background-image: radial-gradient(
		100% 100% at 100% 0,
		#94abef 0,
		#5426de 100%
	);
	border: 0;
	border-radius: 12px;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
	/* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-family: "JetBrains Mono", monospace;
	height: 4rem;
	width: 15rem;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: 1.5rem;
}
#learnmore_btn:focus {
	box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #4b18e6 0 -3px 0 inset;
}
#learnmore_btn:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #4b18e6 0 -3px 0 inset;
	transform: translateY(-2px);
}
#learnmore_btn:active {
	box-shadow: #3c4fe0 0 3px 7px inset;
	transform: translateY(2px);
}
#learnmore_container {
	margin-top: 7rem;
	margin-bottom: 10rem;
}
#mobile_screenshot img {
	max-width: 100%;
	max-height: 100%;
	height: 40rem;
	object-fit: cover;
}
.mobile-screenshot-title {
	font-weight: bolder;
}
.border-crops {
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
		rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
		rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	border-radius: 5px;
}
/* splash */
.card {
	border: 0 !important;
	/* top: -80px; */
}
.card img {
	object-fit: cover;
	height: 40rem !important;
}
.card .card-img-overlay {
	background: linear-gradient(
		0deg,
		var(--main-color) 0%,
		rgba(0, 0, 0, 0.7) 100%
	);
	border-color: transparent;
}
.splash-text {
	color: var(--light-color) !important;
	font-weight: bold !important;
	font-size: 6rem !important;
	margin-top: 2rem;
}
.splash-subtext {
	font-size: 1.2rem !important;
	color: var(--sec-color) !important;
}
.splash-buttons {
	margin: auto 0 !important;
}
.button-splash {
	align-items: center;
	appearance: none;
	background-color: #fcfcfd;
	border-radius: 4px;
	border-width: 0;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	box-sizing: border-box;
	color: #36395a;
	cursor: pointer;
	display: inline-flex;
	font-family: var(--sec-font) !important;
	height: 48px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: 18px;
}
.button-splash:focus {
	box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
.button-splash:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	font-weight: bold;
	transform: translateY(-2px);
}
.button-splash:active {
	box-shadow: #d6d6e7 0 3px 7px inset;
	transform: translateY(2px);
	background-color: #fcfcfd;
	color: var(--dark-main-color);
}
#splash_container {
	padding-top: 8rem;
}
/* footer */
#footer_container {
	background-color: var(--footer-bg);
}
/* buycrypto */
#buycrypto_container {
	/* background-color: var(--light-color); */
	padding-bottom: 10rem !important;
}
.text-paypal {
	font-size: 1.5rem !important;
}

/* features cards custom color */
.postcard .postcard__tagbox .postcard-color.play:hover {
	background: #5426de;
	color: black;
}
.postcard-color .postcard__title:hover {
	color: #5426de;
}
.postcard-color .postcard__bar {
	background-color: #5426de;
}
.postcard-color::before {
	background-image: linear-gradient(
		-30deg,
		rgba(121, 221, 9, 0.1),
		transparent 50%
	);
}
.postcard-color:nth-child(2n)::before {
	background-image: linear-gradient(
		30deg,
		rgba(121, 221, 9, 0.1),
		transparent 50%
	);
}

@media screen and (min-width: 769px) {
	.postcard-color::before {
		background-image: linear-gradient(
			-80deg,
			rgba(121, 221, 9, 0.1),
			transparent 50%
		);
	}
	.postcard-color:nth-child(2n)::before {
		background-image: linear-gradient(
			80deg,
			rgba(121, 221, 9, 0.1),
			transparent 50%
		);
	}
}

/* breaker */
.mini-logo {
	width: 2.5rem;
	height: 2.5rem;
	filter: invert(15%) sepia(80%) saturate(4839%) hue-rotate(255deg)
		brightness(86%) contrast(102%);
}
.mini-logo-text {
	color: var(--main-color);
	font-weight: 400;
}
.mini-logo-rightborder {
	border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}
/* features section */
#features_container {
	background-color: var(--dark-main-color);
	top: 100px !important;
}
/* bg1 */
.fcards {
	margin-top: 5rem;
	padding-bottom: 6rem;
}
.fcardsend {
	margin-bottom: 5rem;
}
.features-btn {
	align-items: center;
	appearance: none;
	background-image: radial-gradient(
		100% 100% at 100% 0,
		#5adaff 0,
		var(--main-color) 100%
	);
	background-image: radial-gradient(
		100% 100% at 100% 0,
		#94abef 0,
		var(--main-color) 100%
	);
	border: 0;
	border-radius: 12px;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
	/* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
	box-sizing: border-box;
	color: var(--light-color);
	cursor: pointer;
	display: inline-flex;
	font-family: "JetBrains Mono", monospace;
	height: 3rem;
	width: 12rem;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: 1.2rem;
}
.features-btn:focus {
	box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #4b18e6 0 -3px 0 inset;
}
.features-btn:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #4b18e6 0 -3px 0 inset;
	transform: translateY(-2px);
}
.fcardui {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
		rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
/* community */
#community_container {
	/* padding-top: 10rem; */
	background-color: var(--dark-main-color);
	z-index: 9999 !important;
}
.mini-logo-soc {
	width: 2.5rem;
	height: 2.5rem;
	filter: invert(86%) sepia(30%) saturate(56%) hue-rotate(205deg)
		brightness(102%) contrast(105%);
}
/* footer */
.sec-link {
	color: var(--mute-color);
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* media query */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* nav media */
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
	#burgerbtn {
		display: block;
	}
	.navbar {
		/* height:100px; */
	}
	.navbar-brand img {
		height: 3.5rem !important;
	}
	.p-5 {
		padding: 10px !important;
		padding-top: 50px !important;
	}
	#splash_container {
		padding: 0px !important;
	}
	.splash-text {
		font-size: 4rem !important;
		line-height: 1.2;
	}
	.splash-subtext {
		font-size: 0.8rem !important;
		margin-top: 50px;
	}
	.splash-buttons {
		padding: 2rem 2px !important;
	}
	.main-btn-ui {
		font-size: 1rem;
		margin: 10px;
	}
	#menu_nav {
		display: none !important;
	}
	#dl_apk {
		display: none !important;
		height: 3rem !important;
		width: 2rem !important;
		right: 0 !important;
	}
	.text-start {
		text-align: start !important;
	}
	#video_teaser_container {
		width: auto !important;
	}
	h6 {
		font-size: 1.5rem;
	}
	.font-1rem {
		font-size: 1rem !important;
	}
	#mobile_screenshot img {
		height: 30rem;
	}
	.font-md {
		font-size: 1.2rem;
	}
	#learnmore_btn {
		font-size: 1.2rem;
		margin: 10px;
		height: 4rem;
		width: 14rem;
	}
	.my-5 {
		margin-top: 2rem !important;
		margin-bottom: 1rem !important;
	}
	.sub-media {
		font-size: 2rem !important;
	}
	h2,
	.sub-media {
		font-size: 2.5rem;
	}
	.text1-media {
		text-align: justify;
		margin-top: 10px;
		margin-bottom: 20px !important;
		font-size: 1rem !important;
	}
	.text2-media {
		margin-top: 10px;
		margin-bottom: 20px !important;
		font-size: 1rem;
	}
	.features-btn-media {
		text-align: center !important;
		margin-bottom: 50px;
	}
	.email-media {
		width: 80%;
	}
	.display-4,
	.text3-media {
		font-size: 3.5rem !important;
		font-weight: 500;
		line-height: 1;
	}
	#buycrypto_1,
	.text3-media {
		text-align: start !important;
	}
	.text4-media,
	.px-5 {
		padding: 20px !important;
	}
	.display-4,
	.splash-res {
		font-size: 2.3rem !important;
		font-weight: 900;
		line-height: 1;
	}
	.text-start,
	.learnmore_btn {
		text-align: center !important;
	}
	#community_sub {
		font-size: 3rem;
	}
	.paypal_img img {
		height: 7rem;
	}
	.container,
	.fcards {
		padding-bottom: 2rem;
	}
	#breaker1 {
		/* text-align: left!important; */
	}
}
/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) and (min-width: 576px) {
	#burgerbtn {
		display: block;
	}
	.splash-text {
		font-size: 4.2rem !important;
	}
	.splash-subtext {
		font-size: 0.9rem !important;
	}
	.splash-buttons {
		padding: 2rem 2px !important;
	}
	.btn-size-1 {
		width: 1rem !important;
		height: 3rem !important;
	}
	.main-btn-ui {
		font-size: 0.9rem;
	}
	#menu_nav {
		display: none !important;
	}
	#dl_apk {
		display: none !important;
		margin-left: 1rem;
		font-size: 1rem;
	}
}
@media (min-width: 768px) {
	.btn-size-1 {
		min-width: 10rem !important;
	}
	#menu_nav {
		display: none !important;
	}
	#dl_apk {
		margin-left: 2rem;
		display: block !important;
		height: 3rem;
	}
}

/* custom media */
@media (max-width: 870px) and (min-width: 768px) {
	.navbar {
		height: 100px;
	}
	.p-5 {
		padding: 2px !important;
		padding-left: 8px !important;
		padding-right: 8px !important;
	}
}
.cursorpointer:hover {
	cursor: pointer;
}

#getsafelypal_container {
	margin-top: 5rem !important;
	margin-bottom: 15rem !important;
}

.burger-btn {
	width: 20px;
	height: 30px;
}

#burgerbtn {
	right: 1.5rem !important;
	position: absolute;
}

#burger_container {
	background-color: rgba(0, 0, 0, 0.9) !important;
}
#burger_links {
	color: white;
}
