/* main setup design ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap%27');
body, html{
font-family: var(--main-font);
}
*, ::after, ::before {
box-sizing: border-box;
}
:root {
  --light-color: #F3F8F8;
  --dark-main-color: #220e5d;
  --black-color: #0c0c0c;
  --main-color: #5426de;
  --sec-color: #b0de26;
  --main-font: 'Poppins', sans-serif;
  --sec-font: 'JetBrains Mono', monospace;
}
.main-color{color:#5426de;}
.sec-color{color:#b0de26;}
.light-color{color:#F3F8F8;}
.dnone{display:none;}
.round-btn{border-radius: 50px!important;}
.border-test{border:2px solid yellow}
.radius-sm{border-radius:5px;}
.sec-font{font-family: 'JetBrains Mono', monospace}
.font-md{font-size:3.5rem;font-weight:600;}
.font-sm{font-size:1rem;font-weight:500;}
.font-xsm{font-size:.8rem;font-weight: 300;}
.font1halfrem{font-size:1.5rem;font-weight:bold;}
.size60{width:60px;height:60px;}
.size50{width:50px;height:50px;}
.size30{width:30px;height:30px;}
.size20{width:20px;height:20px;}
.filter-main-color{filter: invert(27%) sepia(99%) saturate(7191%) hue-rotate(257deg) brightness(87%) contrast(99%);}


/* customized design ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.navbar{
  background-color: rgba(0, 0, 0, 0.3)!important;
  height: 80px;
  z-index: 1;
}
.nav-link{
  font-family: "JetBrains Mono",monospace;
  font-weight:normal;
  color: var(--light-color)!important;
  font-size:1.2rem;
  padding-left: 2rem!important;
}
.nav-link:hover {
  color: var(--main-color)!important;
}
.navbar-brand img{
  height: 48px !important;
}

/* splash section with transparent topnav, with image and gradient overlay */
.card{
    border:0!important;
    top: -80px;  /* depends on the height of navbar */
  }
.card img{
    object-fit: cover;
    height:40rem!important; /* height of whole splash */
}
.card .card-img-overlay {
    background: linear-gradient(0deg, var(--main-color)  0%, rgba(0, 0, 0, .7) 100%);
    border-color:transparent;
}
